<div id="<%= dom_id idea %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= idea.title %>
  </p>

  <p class="my-5">
    Criado em <%= time_tag idea.created_at, "data-local": "time-ago" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= idea.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this idea", idea, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this idea", edit_idea_path(idea), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
